Django==6.0.3
djangorestframework==3.16.1
django-cors-headers==4.9.0
channels==4.3.2
daphne==4.2.2
djangorestframework_simplejwt==5.5.1
mysqlclient==2.2.8
Pillow>=10.0
django-cleanup>=8.0
channels-redis==4.3.0
django-redis==7.0.0
redis==8.0.1
stripe==15.3.1
